body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #070522; /* Dark blue background */
    color: #ffffff; /* White text */
  }
  
  .portfolio {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero, .about, .projects, .skills {
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  }
  
 
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.5rem; /* Slightly smaller for mobile */
    }
  
    .hero p {
      font-size: 1.25rem; /* Slightly smaller for mobile */
    }
  
    .hero-image {
      width: 200px;
      height: 200px;
      margin-top: 20px;
    }
  }